{% extends "base.html" %}

{% block content %}
<form>
    <input type="text" name="text" class="search" placeholder="Поиск товаров и услуг">
    <input type="submit" name="submit" class="submit" value="Поиск">
</form>
<h1>Список магазинов</h1>
{% for item in shop%}
<div class="col-md6 border rounded">
    <a class="navbar-brand" href="/api_shops/{{ item.coordinats }}/<{{ item.title }}" style="color: black">{{item.title}}</a>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>

{% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/shops/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/shops_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
{% endfor %}

{% endblock %}